*{
    margin: 0;
    padding: 0;
}
body{
    background: url('https://images.unsplash.com/photo-1512632578888-169bbbc64f33?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGlzbGFtaWN8ZW58MHx8MHx8&w=1000&q=80') no-repeat center/cover;
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#form{
    padding: 80px;
    border-radius: 20px;
    border: 4px solid white;
    height: max-content;
    backdrop-filter: blur(10px);
}
#mainheading{
    text-align: center;
    font-size: 70px;
    color: white;
    text-transform: uppercase;
    text-shadow: 0px 0px 20px black;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    backdrop-filter: blur(5px);
    padding: 20px;
    margin: 10px;
    letter-spacing: 4px;
    
}
form{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid ;
    

}
.inp{
    padding: 15px;
    width: 250px;
    border-radius: 20px;
    margin: 5px;
    text-align: center;
    border: 2px solid #ffff;
}
#btn{
    width: 90px;
    
    padding: 10px;
    border-radius: 5px ;
    background-color: #b2826a;
    color: #ffff;
    font-weight: 400;
    cursor: pointer;


}
#btn:hover{
    
    background: #744b36;
    border-radius: 20px ;
    width: 200px;
    transition: all 0.3s ease-in;
    text-transform: uppercase;
}
#mainheading2{
    text-align: center;
    font-size: 50px;
    color: white;
    text-transform: uppercase;
    text-shadow: 0px 0px 20px black;
    padding: 20px;
    text-decoration: underline;
}
#mainheading3{
    text-align: center;
    font-size: 50px;
    color: white;
    text-transform: uppercase;
    text-shadow: 0px 0px 20px black;
    padding: 40px;
    text-decoration: underline;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    backdrop-filter: blur(5px);
   
}

.main{
    height: 120vh;
    flex-direction: column;
    justify-content: space-around;
    display: none;

}

.timingBox{
    display: flex;
    border-radius: 10px;
    border: 4px solid white;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.times{
    display: flex;
    flex-direction: column;
    color: white;
    backdrop-filter: blur(8px);
    text-shadow: 0px 0px 55px #454633;
    box-shadow:  0px 0px 12px 1px black ;
    border-radius: 20px;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    margin: 5px;
    width: 180px;
    border: 2px solid white;
    cursor: pointer;
    
}
.times:hover{
    color: black;
}
.times::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
    border-radius: 20px;
  }
  
  .times:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
    border-radius: 18px;
  }
  
  .times::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: #fff;
    z-index: -1;
    transition: transform .5s ease;
    border-radius: 19px;
  }

.prayerName{
    text-decoration: underline;
    font-size: 40px;
    margin-bottom: 10px;
}
.times1{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
}